body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.coloradd {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.hello {
    width: 50%;
    padding-left: 3%;
}

.hello img {
    width: 70%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(250, 161, 44), rgb(255, 128, 9));
    color: white;
    font-weight: 700;
    border-radius: 5px;
    padding: 10px 40px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}